version: '3.8'

services:
  kasbench:
    build:
      context: ../
      dockerfile: Dockerfile
    container_name: kasbench
    environment:
      RPC_SERVER: grpc://10.0.4.30:16110
      NETWORK: mainnet
    ports:
      - "8080:8080"
    volumes:
      - ../kasbench-data:/data
    restart: unless-stopped